old_files/
composer.lock
.env
.env.local.php
var/cache/*
var/logs/*
vendor/*
.phpactor.json
.php-cs-fixer.cache

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
