{% block main %}
<div class="container m-3">
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">Incident Update</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">Scheduled Maintenance Update</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="tab-1">
                <form id="incident" action="">
                    <div class="mb-3 mt-2">
                        <label class="form-label" for="incident-platform">Platform</label>
                        <select class="form-select" required="" id="incident-platform" name="incident-platform">
                            <option value="" selected="">Select...</option>
                            {% for key, value in platforms %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                            <!-- <?php -->
                            <!--     require __DIR__ . "/scripts/platforms.php"; -->
                            <!-- ?> -->
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="incident-title">Title</label>
                        <input class="form-control" type="text" required="" minlength="3" id="incident-title" name="incident-title" placeholder="QualysGuard UI is not accessible (IM-11285)">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="incident-message">Message</label>
                        <textarea class="form-control" required="" id="incident-message" name="incident-message" placeholder="Users are unable to access QualysGuard for KSA Platform 1. Cloud Platform Operations team is actively investigating and further updates will be shared as they are received."></textarea>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control visually-hidden" readonly id="incident-copy"></textarea>
                    </div>
                    <div class="btn-group border rounded-pill" role="group">
                        <button class="btn border-light" type="button" id="incident-title-button">Generate Title</button>
                        <button class="btn border-light" type="button" id="incident-message-button">Generate Message</button>
                        <button class="btn btn-reset border-light" type="button" onclick='reset_form("#incident");'>Reset Form</button>
                    </div>
                </form>
                <div class="row m-3">
                    <div class="col-12">
                        <div class="alert" role="alert" id="incident-alert">
                            <span id="incident-alert-text"></span>
                        </div>
                        <button class="btn visually-hidden" type="button" data-clipboard-target="#incident-copy" data-clipboard-action="copy" id="incident-copy-button">Copy to Clipboard</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab-2">
                <form id="maintenance">
                    <div class="mb-3 mt-2">
                        <label class="form-label">Platform</label>
                        <select class="form-select" required="" id="maintenance-platform" name="maintenance-platform">
                            <option value="" selected="">Select...</option>
                            {% for key, value in platforms %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                            <!-- <?php -->
                            <!--     require __DIR__ . "/scripts/platforms.php"; -->
                            <!-- ?> -->
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input class="form-control" type="text" required="" minlength="3" id="maintenance-title" name="maintenance-title" placeholder="File Integrity Monitoring (FIM) 3.8.0.0 Release Notification (CMB-215218)">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Ticket Number</label>
                        <input class="form-control" type="text" required="" minlength="3" pattern="^[A-Z]{3}-[0-9]+$" id="maintenance-ticket" name="maintenance-ticket" placeholder="CMB-215218">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Message</label>
                        <textarea class="form-control" required="" id="maintenance-message" name="maintenance-message" placeholder="A new release of File Integrity Monitoring 3.8.0.0 (FIM) is going to be released into production. The deployment is completely transparent to users, and no impact is expected."></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Reference Link</label>
                        <input class="form-control" type="text" required="" inputmode="url" pattern="^(http|https):.{3,}" id="maintenance-ref-link" name="maintenance-ref-link" placeholder="https://www.qualys.com/docs/release-notes/qualys-file-integrity-monitoring-3.8-release-notes.pdf">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control visually-hidden" readonly id="maintenance-copy"></textarea>
                    </div>
                    <div class="btn-group border rounded-pill" role="group">
                        <button class="btn border-light" type="button" id="maintenance-title-button">Generate Title</button>
                        <button class="btn border-light" type="button" id="maintenance-message-button">Generate Message</button>
                        <button class="btn btn-reset border-light" type="button" onclick='reset_form("#maintenance");'>Reset Form</button>
                    </div>
                </form>
                <div class="row m-3">
                    <div class="col-12">
                        <div class="alert" role="alert" id="maintenance-alert">
                            <span id="maintenance-alert-text"></span>
                        </div>
                        <button class="btn visually-hidden" type="button" data-clipboard-target="#maintenance-copy" data-clipboard-action="copy" id="maintenance-copy-button">Copy to Clipboard</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
